@model BitirmeProjesi.Models.Period

<h1 class="page-header">
    Dönem Oluştur
</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Dönem Adı:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="StartAt" class="control-label">Başlangıç Tarihi</label>
        <input asp-for="StartAt" class="form-control" type="date" />
        <span asp-validation-for="StartAt" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="FinishAt" class="control-label">Bitiş Tarihi</label>
        <input asp-for="FinishAt" class="form-control" type="date" />
        <span asp-validation-for="FinishAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-sm">
            Kaydet
        </button>
    </div>
</form>
