<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - Bitirme Takip Sistemi</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="Student" asp-controller="Period" asp-action="Index">Bitirme Takip Sistemi</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-right navbar-top-links">
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>@this.Context.Session.GetString("STUDENT_FULL_NAME") <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li>
                            <a href="/Login/StudentOut"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <aside class="sidebar navbar-default" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a asp-area="Student" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw"></i> Anasayfa</a>
                    </li>
                    <li>
                        <a asp-area="Student" asp-controller="Period" asp-action="Index">
                            <i class="fa fa-list fa-fw"></i>
                            Başvuru
                        </a>
                    </li>
                    <li>
                        <a asp-area="Student" asp-controller="Participant" asp-action="Index">
                            <i class="fa fa-check-circle fa-fw"></i>
                            Başvuru Durumu
                        </a>
                    </li>
                     <li>
                        <a asp-area="Student" asp-controller="Chat" asp-action="Index">
                            <i class="fa fa-comments fa-fw" aria-hidden="true"></i>
                            Mesaj Listesi
                        </a>
                    </li>


                </ul>
            </div>
        </aside>
        <!-- /.sidebar -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/js/startmin.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
