@{
    ViewData["Title"] = "AnaSayfa";
}

<div class="text-center">
    <a asp-controller="Login" asp-action="Academician" class="btn btn-primary">
        Akademisyen Girişi
    </a>
    <a asp-controller="Login" asp-action="Student"class="btn btn-primary">
        Öğrenci Girişi
    </a>
</div>
