@model string

<h2>Şifremi Yenile</h2>
<h4>Lütfen E-Posta Adresinizi Giriniz.</h4>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<form method="post" asp-controller="ResetPassword" asp-action="ResetPassword">
    <div class="form-group">
        <label for="email">E-posta Adresi:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Şifremi Yenile</button>
</form>